---
---
$section-headings-color: #4682B4;

@import "{{ site.theme }}";

.page-header {
  color: #ffff;
  background-color: #000000;
  background-image: url("/images/scotland_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}
